
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consult Employee</h2>

<div class="row">
    <div class="col-md-4">
        <label>Id Employee</label>
        <input id="idEmployee" type="number" name="idEmployee" placeholder="id employee" />
    </div>
    <div class="col-md-4">
        <input id='ConsultBtn' type="button" value="Consult" />
    </div>
</div>

<div class="row" style="padding-top:2%;">
    <label>Table</label>
    <div id="gridEmployeeConsult" style="width:95%;"></div>
</div>
